<h1>为所有连接提供安全 DNS</h1>

<p>Portmaster 会自动加密您的所有 DNS 查询，防止被窥探。Portmaster 设置了一个默认提供商，但您随时可以在全局设置中切换到自定义的 DNS-over-TLS 提供商。</p>

<sfng-dropdown label="自定义" class="w-full" maxHeight="300px" maxWidth="600px" offsetY="0">
  <div class="flex flex-wrap items-center justify-center w-full gap-6 px-8 py-8">
    <button *ngFor="let button of quickSettings" [style.minWidth]="'6rem'" (click)="applyQuickSetting(button)"
      [disabled]="isCustomValue" [class.bg-blue]="button.active" class="px-4 py-3">
      {{ button.Name }}
    </button>

    <button class="w-24 px-4 py-3 bg-blue" *ngIf="isCustomValue">
      自定义
    </button>
  </div>
</sfng-dropdown>
