html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply bg-buttons-dark;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  @apply bg-buttons-light;
  @apply rounded;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.scrollable {
  width     : 100%;
  max-height: 100%;
  overflow  : auto;
  overflow-x: hidden;
  flex-grow : 1;
  @apply px-3;
}
