<div class="relative flex flex-wrap items-center justify-center w-full h-full gap-2 px-3 py-2 bg-gray-300 border border-gray-300 rounded shadow">
  <span class="text-primary">
    Keep History
  </span>

  <span *ngIf="!canUse" routerLink="/dashboard" class="cursor-pointer text-tertiary hover:underline">
    Get Plus
  </span>

  <sfng-toggle *ngIf="canUse" [ngModel]="currentValue" (ngModelChange)="updateHistoryEnabled($event)"
    [disabled]="(historyFeatureAllowed | async) === false"></sfng-toggle>
</div>
