:host {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  @apply bg-gray-200;
  @apply p-4;
  @apply rounded;
  position: relative;
  width: 20rem;
  display: flex;
  cursor: pointer;
  border-left: 2px solid transparent;


  .icon {
    display: flex;
    align-items: flex-start;
    flex-shrink: 1;
    margin-right: 1rem;
    padding-top: 2px;
  }

  &.error {
    @apply border-yellow;

    .icon {
      @apply text-yellow
    }
  }

  .indicator-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-size: 0.85rem;
      font-weight: 500;
      margin-bottom: 0;
    }

    .message,
    h1 {
      flex-shrink: 0;
      text-overflow: ellipsis;
    }

    .message {
      font-size: 0.7rem;
      flex-grow: 1;
      opacity: .5;

      span {
        display: block;
        height: 100%;
        word-break: keep-all;
      }
    }

    .close-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      opacity: .7;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    h1~.message {
      margin-top: .5rem;
    }
  }
}
