<div class="header">
  <h4 class="breadcrumbs">
    <span routerLink="../">获取帮助</span>
    <fa-icon icon="chevron-right" [@moveInOut]></fa-icon>
    <span [@moveInOut]>{{ page?.title }}</span>
  </h4>
  <app-expertise></app-expertise>
</div>

<div class=" scroll-container" cdkScrollable [@fadeIn]="true">
  <div class="form-wrapper">
    <div class="page-title">
      <h1>{{ page?.title }}</h1>
    </div>

    <p class="prologue secondary-text" *ngIf="page?.prologue || page?.shortHelp">
      {{ page?.prologue || page?.shortHelp }}
    </p>

    <div class="repo-list" *ngIf="page?.repositories?.length">
      <h4>{{ page?.repoHelp }}</h4>
      <button *ngFor="let repo of page?.repositories" [attr.id]="repo.repo"
        [class.selected]="selectedRepo === repo.repo" (click)="selectRepo(repo.repo)">
        {{ repo.name }}
      </button>
    </div>

    <h3>标题</h3>
    <div class="input-wrapper">
      <input class="title" [class.missing]="titleMissing && title === ''" required type="text" [(ngModel)]="title"
        (ngModelChange)="searchIssues($event)" placeholder="概述你的报告">
      <span class="copy-button" (click)="copyToClipboard(title)">复制</span>
    </div>

    <section *ngFor="let section of page?.sections">
      <h3>{{section.displayTitle || section.title}}</h3>
      <div class="input-wrapper">
        <textarea [(ngModel)]="form[section.title]" (ngModelChange)="onModelChange()" rows="4"
          [placeholder]="section.help || ''"></textarea>
        <span class="copy-button" (click)="copyToClipboard(form[section.title])">复制</span>
      </div>
      <!--
      <span class="section-help" *ngIf="section.help">
        {{section.help}}
      </span>
    -->
    </section>

    <ng-template [ngIf]="page?.includeDebugData">
      <div class="page-title">
        <h1>包含的调试信息</h1>
      </div>

      <p class="prologue secondary-text">
        以下调试信息将与你的报告一起发送。请检查并移除可能的敏感信息。
        随报告发送的调试信息将保存在 Safing 自托管的 pastebin 服务器上，
        可通过生成的 URL 查看。数据将在一个月后自动销毁。
      </p>
      <div class="debug-header">
        <div class="pl-4 secondary-text">
          Portmaster 版本：<u>{{version}}</u>
          构建于 <u>{{buildDate}}</u>
        </div>
        <span class="copy-button" (click)="copyToClipboard(debugData)">复制</span>
      </div>
      <textarea [(ngModel)]="debugData" rows="8"></textarea>
    </ng-template>

    <div class="actions">
      <button *ngIf="!!page?.ghIssuePreset" class="primary" (click)="createOnGithub()">
        <fa-icon [icon]="['fab', 'github']" class="mr-1"></fa-icon>
        在 GitHub 上{{ haveGhAccount ? '打开' : '创建'}}
      </button>
      <button *ngIf="page?.privateTicket" [class.primary]="!page?.ghIssuePreset" (click)="createPrivateTicket()">
        发送私密工单
      </button>
    </div>
  </div>

  <div *ngIf="page?.ghIssuePreset" class="issue-list" sfngTipUpAnchor="left">
    <div class="page-title">
      <h1>
        相关问题
        <sfng-tipup key="support-page-related-issues"></sfng-tipup>
      </h1>
    </div>
    <p class="prologue secondary-text">
      与你的标题相关的公开问题：
    </p>

    <p class="prologue secondary-text" *ngIf="!relatedIssues.length">
      未找到相关问题。
    </p>

    <ul [@fadeInList]="relatedIssues.slice(0, 8).length">
      <li *ngFor="let issue of relatedIssues.slice(0, 8); trackBy: trackIssue" (click)="openIssue(issue)" class="issue">
        <span class="title">{{ issue.title }}</span>
        <span class="meta">由 <u>{{ issue.user }}</u> {{ issue.closed ? '关闭' : '创建'}}于 <u>{{ repos[issue.repository] || issue.repository
            }}</u>
          {{
          issue.createdAt | timeAgo
          }}</span>
        <fa-icon icon="external-link-alt"></fa-icon>
      </li>
    </ul>
  </div>
</div>
