<div class="grid grid-cols-2 gap-2">
  <app-dashboard-widget [label]="'apps.connections' | translate" style="min-height: 400px;">
    <sfng-netquery-line-chart [data]="connectionChart"></sfng-netquery-line-chart>
  </app-dashboard-widget>

  <app-dashboard-widget [label]="'apps.dataUsage' | translate" beta="true" style="min-height: 400px;">
    <sfng-netquery-line-chart [config]="bwChartConfig" [data]="bandwidthChart"></sfng-netquery-line-chart>
  </app-dashboard-widget>

  <app-dashboard-widget [label]="'apps.countries' | translate" beta="true" style="min-height: 400px">
    <sfng-netquery-circular-bar-chart class="block w-full h-full" [data]="countryData" [config]="countryBarConfig"></sfng-netquery-circular-bar-chart>
  </app-dashboard-widget>
</div>
