<div
  class="relative flex flex-wrap items-center justify-center w-full h-full gap-2 px-3 py-2 bg-gray-300 border border-gray-300 rounded shadow"
  snfgTooltipPosition="right"
  [sfng-tooltip]="(interferingSettings.length > 0 || spnEnabled) ? tooltipTemplate : null">
  <span class="text-primary" [class.cursor-pointer]="interferingSettings.length > 0 || spnEnabled">
    Split Tunnel
  </span>

  <sfng-toggle *ngIf="splitTunModuleEnabled === true"
    [ngModel]="currentValue" (ngModelChange)="updateUseSplitTun($event)">
  </sfng-toggle>

  <span *ngIf="splitTunModuleEnabled === false"
    routerLink="/settings" [queryParams]="{setting: 'splittun/enable'}" class="cursor-pointer text-tertiary hover:underline"
    sfng-tooltip="Enable Split Tunneling to use.">
      Disabled
  </span>

  <ng-template *ngIf="splitTunModuleEnabled === null">
    <fa-icon icon="spinner" [spin]="true"></fa-icon>
  </ng-template>

  <span class="absolute right-0 block w-2 h-2 bg-yellow-300 border border-gray-100 rounded opacity-75"
    [style.background-color]="spnFullOverride ? '#ef4444' : null"
    style="top: 2px; transform: translateX(-2px)" *ngIf="interferingSettings.length > 0 || spnEnabled"></span>
</div>

<ng-template #tooltipTemplate>
  Settings that may interfere with Split Tunnel:
  <ul class="pl-4 list-disc">
    <li *ngIf="spnEnabled && spnFullOverride">SPN is routing all traffic, fully bypassing Split Tunnel</li>
    <li *ngIf="spnEnabled && !spnFullOverride">SPN is routing non-excluded connections, partially bypassing Split Tunnel</li>
    <ng-container *ngFor="let setting of interferingSettings">
      <li class="cursor-pointer hover:underline" [routerLink]="[]"
        [queryParams]="{setting: setting.Key, tab: 'settings'}">
        {{ setting.Name }}
      </li>
    </ng-container>
  </ul>
</ng-template>
