<section *ngIf="conn">
  <div>
    <span sfngAddToFilter="started" [sfngAddToFilterValue]="conn.started">
      <span>开始时间：</span>
      <span>
        {{ conn.started | date:'medium'}}
      </span>
    </span>

    <span sfngAddToFilter="ended" [sfngAddToFilterValue]="conn.ended">
      <span>结束时间：</span>
      <span *ngIf="conn.ended">
        {{ conn.ended | date:'medium'}}
      </span>
      <span *ngIf="!conn.ended">
        <fa-icon icon="spinner" [spin]="true"></fa-icon>
      </span>
    </span>

    <span *ngIf="conn.ended">
      <span>持续时间：</span>
      <span >
        {{ [conn.ended, conn.started] | duration }}
      </span>
    </span>

    <span *appExpertiseLevel="'developer'" sfngAddToFilter="profile_revision"
      [sfngAddToFilterValue]="conn.profile_revision">
      <span>配置文件修订版本：</span>
      <span>
        {{ conn.profile_revision }}
      </span>
    </span>

    <span *appExpertiseLevel="'developer'">
      <span>连接 ID：</span>
      <span>
        {{ conn.id }}
      </span>
    </span>

    <span *appExpertiseLevel="'expert'" sfngAddToFilter="verdict" [sfngAddToFilterValue]="conn.verdict">
      <span>判定：</span>
      <span>
        {{ verdict[conn.verdict] || 'N/A' }}
      </span>
    </span>

    <span *appExpertiseLevel="'developer'" sfngAddToFilter="internal" [sfngAddToFilterValue]="conn.internal">
      <span>内部连接：</span>
      <span>
        {{ conn.internal ? '是' : '否' }}
      </span>
    </span>

    <span *appExpertiseLevel="'expert'" sfngAddToFilter="local_ip" [sfngAddToFilterValue]="conn.local_ip">
      <span>本地地址：</span>
      <span>
        {{ conn.local_ip }}
        <span *ngIf="conn.local_port" class="text-tertiary">{{ ':'+conn.local_port }}</span>
      </span>
    </span>
  </div>

  <div *ngIf="conn.type === 'ip'; else: dnsTemplate">
    <span sfngAddToFilter="direction" [sfngAddToFilterValue]="conn.direction">
      <span>方向：</span>
      <span>
        <fa-icon class="inline-block mr-1 transform rotate-45" [ngClass]="{'text-gray-600': !!conn.ended}"
          [icon]="conn.direction === 'inbound' ? 'arrow-down' : 'arrow-up'">
        </fa-icon>
        {{ conn.direction === 'inbound' ? '入站' : '出站' }}
      </span>
    </span>
    <span sfngAddToFilter="ip_protocol" [sfngAddToFilterValue]="conn.ip_protocol">
      <span>协议：</span>
      <span>{{ Protocols[conn.ip_protocol] || 'N/A' }}</span>
    </span>
    <span sfngAddToFilter="encrypted" [sfngAddToFilterValue]="conn.encrypted">
      <span>已加密：</span>
      <span>{{ conn.encrypted ? '是' : '否' }}</span>
    </span>
    <span sfngAddToFilter="tunneled" [sfngAddToFilterValue]="conn.tunneled">
      <span>SPN 保护：</span>
      <span>{{ conn.tunneled ? '是' : '否' }}</span>
    </span>

    <span *ngIf="conn.bytes_received > 0">
      <span>已接收数据：</span>
      <span>{{ conn.bytes_received  | bytes }}</span>
    </span>
    <span *ngIf="conn.bytes_sent > 0">
      <span>已发送数据：</span>
      <span>{{ conn.bytes_sent | bytes }}</span>
    </span>

    <ng-container *ngIf="conn.extra_data?.tls as tls">
      <span>
        <span>TLS 版本：</span>
        <span>{{ tls.Version }}</span>
      </span>
      <span>
        <span>TLS SNI:</span>
        <span>{{ tls.SNI }}</span>
      </span>
      <ng-container *ngIf="!!tls.Chain">
        <ng-container *ngIf="tls.Chain[0] as firstChain">
          <span>
            <span>TLS 证书：</span>
            <span>{{ firstChain[0].Subject }} <i class="port">颁发者</i> {{ firstChain[0].Issuer }}</span>
          </span>
          <span>
            <span>信任链</span>
            <span>
              <ol>
                <li *ngFor="let cert of firstChain.slice(1)">
                  {{ cert.Subject }} <i class="port">颁发者</i> {{ cert.Issuer }}
                </li>
              </ol>
            </span>
          </span>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <ng-template #dnsTemplate>
    <div *ngIf="conn.extra_data?.dns as dns">
      <span sfngAddToFilter="domain" [sfngAddToFilterValue]="dns.Domain">
        <span>域名：</span>
        <span>{{dns.Domain}}</span>
      </span>
      <span>
        <span>查询：</span>
        <span>{{dns.Question}}</span>
      </span>

      <span>
        <span>响应：</span>
        <span>{{dns.RCode}}</span>
      </span>

      <span *appExpertiseLevel="'expert'">
        <span>来自缓存：</span>
        <span>{{dns.ServedFromCache ? '是' : '否'}}</span>
      </span>

      <span *appExpertiseLevel="'expert'">
        <span>过期时间：</span>
        <span>{{dns.Expires | date:'medium'}}</span>
      </span>
    </div>
  </ng-template>

  <div *ngIf="conn.type === 'ip'">
    <span *ngIf="conn.domain" sfngAddToFilter="domain" [sfngAddToFilterValue]="conn.domain">
      <span>域名：</span>
      <sfng-netquery-scope-label leftRightFix="true" [scope]="conn.domain">
      </sfng-netquery-scope-label>
    </span>

    <span *ngIf="!conn.domain">
      <span>范围：</span>
      <ng-container [ngSwitch]="conn.scope">
        <span *ngSwitchCase="scopes.Global">互联网 P2P</span>
        <span *ngSwitchCase="scopes.GlobalMulitcast">互联网多播</span>
        <span *ngSwitchCase="scopes.HostLocal">本机</span>
        <span *ngSwitchCase="scopes.LinkLocal">局域网 P2P</span>
        <span *ngSwitchCase="scopes.LocalMulticast">局域网多播</span>
        <span *ngSwitchCase="scopes.SiteLocal">局域网 P2P</span>

        <span class="text-tertiary" *ngSwitchCase="scopes.Invalid">N/A</span>
        <span class="text-tertiary" *ngSwitchCase="scopes.Undefined">N/A</span>
        <span class="text-tertiary" *ngSwitchDefault>N/A</span>
      </ng-container>

      <span>{{ conn.direction === 'inbound' ? ' 入站' : ' 出站'}}</span>
    </span>

    <span sfngAddToFilter="remote_ip" [sfngAddToFilterValue]="conn.remote_ip">
      <span>远程对端：</span>
      <span>
        {{ conn.remote_ip || 'DNS 请求'}}
        <span *ngIf="conn.remote_port" class="text-tertiary">{{ ':'+conn.remote_port }}</span>
      </span>
    </span>
    <span sfngAddToFilter="country" [sfngAddToFilterValue]="conn.country">
      <span>国家/地区：</span>
      <span *ngIf="!!conn.country" [appCountryFlags]="conn.country"></span>
      <span>{{ (conn.country | countryName) || 'N/A' }}</span>
    </span>
    <span sfngAddToFilter="asn" [sfngAddToFilterValue]="conn.asn">
      <span>ASN：</span>
      <span>{{ conn.asn || 'N/A' }}</span>
    </span>
    <span sfngAddToFilter="as_owner" [sfngAddToFilterValue]="conn.as_owner">
      <span>AS 组织：</span>
      <span>{{ conn.as_owner || 'N/A' }}</span>
    </span>
  </div>

  <div class="col-span-2">
    <span sfngAddToFilter="path" [sfngAddToFilterValue]="conn.path">
      <span>程序路径：</span>
      <span class="break-normal whitespace-normal">{{ conn.path }} </span>
    </span>
    <span>
      <span>原因：</span>
      <span class="break-normal whitespace-normal">
        {{conn.extra_data?.reason?.Msg}}
      </span>
    </span>
    <span *ngIf="conn.extra_data?.reason?.OptionKey as option">
      <span>应用的设置：</span>
      <span>
        <span>{{ helper.settings[option] || '' }}&nbsp;</span>
        <span class="de-emphasize" style="display: inline-block; text-align: left">&nbsp;来自{{
            !!conn.extra_data?.reason?.Profile ? "应用" :
            "全局" }}设置</span>
      </span>
    </span>
  </div>

  <div *ngIf="conn.scope === scopes.Global && !!conn.tunneled">
    <h3 class="text-primary text-xxs">SPN 隧道</h3>
    <ng-container [ngSwitch]="true">
      <span *ngSwitchCase="!conn.tunneled" class="inline-flex items-center gap-2 text-secondary">
        此连接未通过 Safing 隐私网络路由。
        <sfng-tipup key="spn"></sfng-tipup>
      </span>

      <div *ngSwitchCase="!!conn.extra_data?.tunnel" class="meta">
        <div *ngIf="conn.extra_data?.tunnel as tunnel">
          <span>
            <span></span>
            <sfng-spn-pin-route [route]="tunnel.Path"></sfng-spn-pin-route>
          </span>
        </div>
        <div *appExpertiseLevel="'developer'" class="flex flex-col items-start justify-start gap-1 mt-2">
          <span class="flex flex-row items-center gap-2">
            <span class="text-secondary">路径成本：</span>
            <span>{{ conn.extra_data?.tunnel?.PathCost }}</span>
          </span>
          <span class="flex flex-row items-center gap-2">
            <span class="text-secondary">路由算法：</span>
            <span>{{ conn.extra_data?.tunnel?.RoutingAlg }}</span>
          </span>
        </div>
      </div>

      <span *ngSwitchDefault class="inline-flex items-center gap-2 text-secondary">
        此连接已通过 Safing 隐私网络路由，但隧道信息不可用。请尝试
        重新加载连接。
      </span>
    </ng-container>
  </div>

  <div *ngIf="!!conn.extra_data?.split_tun">
    <h3 class="text-primary text-xxs">分离隧道</h3>
    <div *ngIf="conn.extra_data?.split_tun as splitTun" class="meta">
      <span class="inline-flex items-center gap-1 flex-wrap">
        <span class="text-secondary">此连接通过以下接口路由</span>
        <span>{{ splitTun.Interface }}</span>
        <span class="text-secondary">({{ splitTun.IP }})</span>
      </span>      
    </div>
  </div>

  <div *ngIf="!!bwData.length" class="col-span-3 block border-t border-gray-400 py-2">
    <h2 class="text-secondary uppercase w-full text-center text-xxs">数据用量</h2>
    <sfng-netquery-line-chart class="block w-full !h-36" [data]="bwData" [config]="{
      series: {
        incoming: {
          lineColor: 'text-green-300',
          areaColor: 'text-green-200 text-opacity-50',
        },
        outgoing: {
          lineColor: 'text-yellow-300',
          areaColor: 'text-yellow-200 text-opacity-50',
        },
      },
      time: {
        from: conn.started,
        to: conn.ended,
      },
      fromMargin: 5,
      toMargin: 5,
      valueFormat: formatBytes,
      timeFormat: formatTime,
      showDataPoints: true,
      fillEmptyTicks: {
        interval: 1
      },
      tooltipFormat: tooltipFormat,
      verticalMarkers: [
        { text: '开始', time: conn.started },
        { text: '结束', time: conn.ended},
      ]
    }"></sfng-netquery-line-chart>
  </div>
</section>

<div class="flex justify-end border-t border-gray-300 pt-0.5 mt-0.5" *ngIf="!!conn">
  <button *ngIf="!!process" (click)="openProcessDetails()" class="btn-outline">进程详情</button>
  <button class="btn-outline" *appExpertiseLevel="'expert'" (click)="helper.dumpConnection(conn)">复制 JSON</button>
  <button class="btn-outline" *ngIf="(conn | isBlocked); else blockAction"
    (click)="helper.unblockAll(conn.domain || conn.remote_ip, conn)" [disabled]="!(conn | canUseRules)">
    允许{{ conn.domain ? '域名' : ' IP'}}
  </button>
  <ng-template #blockAction>
    <button class="btn-outline" (click)="helper.blockAll(conn.domain || conn.remote_ip, conn)"
      [disabled]="!(conn | canUseRules)">
      阻止{{ conn.domain ? '域名' : ' IP'}}
    </button>
  </ng-template>
  <button class="btn-outline" (click)="helper.redirectToSetting('', conn)" *ngIf="!!conn.extra_data?.reason?.OptionKey">
    应用设置
  </button>
  <button class="btn-outline" (click)="helper.redirectToSetting(conn.extra_data!.reason!.OptionKey, conn, true)"
    *ngIf="!!conn.extra_data?.reason?.OptionKey">
    全局设置
  </button>
</div>
